@{
    ViewData["Title"] = "Home Page";
    Layout = "_SecondLayout";
}

<div class="text-center">
    <h1 class="display-4">Greetings!</h1>
    <p>You can view the source code on <a href="https://github.com/Srul1k/web-learning">GitHub</a>.</p>
</div>
