@model Northwind.Web.ViewModels.Account.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot password?";
}

<form asp-controller="Account" asp-action="ForgotPassword" method="post">
    <div class="form-group" style="padding-top: 10px">
        <label asp-for="Email">Enter Email:</label>
        <div class="col-md-2" style="padding-top: 10px">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group" style="padding-left: 30px">
        <button type="submit" class="btn btn-outline-primary">Send email to restore password</button>
    </div>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}