@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
    Layout = null;
}

<head>
    <title>Oops!</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>

<div class="row">
    <div class="col-md-auto">
        <img src="/img/error.png" style="width: 118px; height: 165px;" />
    </div>

    <div class="col-lg-auto">
        <h1 class="text-danger">Oops!</h1>
        <h2 class="text-danger">An error occurred while processing your request.</h2>
        <p class="text-primary">
            You can try to go to the main page:
            <a asp-controller="Home" asp-action="Index">Home</a>.
        </p>

        @if (Model.ShowRequestId)
        {
            <p>
                <strong>Request ID:</strong> <code>@Model.RequestId</code>
            </p>
        }


        @if (Model.ExceptionMessage != null)
        {
            <p>
                <strong>Message:</strong> <code>@Model.ExceptionMessage</code>
            </p>
        }
    </div>
</div>
